@page
@model CSELE4_CRUD.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row w-auto">
    @foreach (var item in Model.Product)
    {
        <div class="col-3 p-1 m-3" style="border: 1px solid black">
            <div class="card h-100">
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Content)" class="img-fluid card-img-top h-100 w-100" alt="@item.Name" />
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom:0; font-size:25px;">@item.Name</h5>
                    <p class="card-text" style="margin-bottom:10px;">@item.Description</p>
                    <p class="card-text" style="margin-bottom:0;">@item.ProductCategory.CategoryName</p> 
                    <div class="d-flex justify-content-between">
                        <span class="card-text" style=" font-size:20px; font-weight:bold;">@(item.Price.ToString("c"))</span>
                        <a class="btn btn-danger btn-sm" asp-page="./Products/Edit" asp-route-id="@item.Id">Edit</a>
                        @*                     <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> *@
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<p>
    <a asp-page="Create">Create New</a>
</p>
